<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bali Moments</title>
    <meta name="description" content="Temukan cara terbaik untuk menjelajahi Bali dengan anggaran terbatas. Tips perjalanan hemat, destinasi menarik, dan pengalaman tak terlupakan di Pulau Dewata.">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tailwind.css">
    <!-- Add Google Fonts for Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="font-sans">
    {% include navigation.html %}
    {% include hero.html %}
    {% include inquiry-modal.html %}
    {% include highlight.html %}
    {% include choose-us.html %}
    {% include destinations.html %}
    {% include testimonials.html %}
    {% include scroll-to-top-button.html %}
    {% include footer.html %}
    {{ content }}
</body>
</html>