<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bali Moments</title>
    <meta name="description" content="Temukan cara terbaik untuk menjelajahi Bali dengan anggaran terbatas. Tips perjalanan hemat, destinasi menarik, dan pengalaman tak terlupakan di Pulau Dewata.">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tailwind.css">
    <!-- Add Google Fonts for Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="font-sans">
    {% include navigation.html %}
    {% include hero.html %}
    {% include inquiry-modal.html %}
    {% include highlight.html %}
    {% include choose-us.html %}
    {% include destinations.html %}
    {% include testimonials.html %}
    {% include scroll-to-top-button.html %}
    {% include footer.html %}
    {{ content }}



    <script>
        // Social Icons visibility adjustment based on scroll position
        document.addEventListener('DOMContentLoaded', () => {
            // Keep social icons visible against any background
            const socialIcons = document.getElementById('social-icons');

            // Initial state with higher opacity
            document.querySelectorAll('#social-icons a').forEach(icon => {
                icon.classList.add('bg-opacity-60');
            });

            // Add aria-label attributes to the social media links
            document.querySelectorAll('#social-icons a').forEach((icon, index) => {
                const labels = ['Facebook', 'Twitter', 'Instagram'];
                icon.setAttribute('aria-label', labels[index]);
            });
        });
    </script>
</body>
</html>